<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SPCS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://bootswatch.com/3/paper/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="Site">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul>
                    @{
                        if (User.Identity.IsAuthenticated == true)
                        {
                            @Html.ActionLink("My Dashboard", "Index", "Dashboards", null, new { @class = "navbar-brand" })
                        }
                    }
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Control Panel", "Index", "ControlPanels")</li>
                    }
                    if (User.Identity.IsAuthenticated == true)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Request.Cookies["firstname"].Value @Request.Cookies["lastname"].Value
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("My Profile", "Details", "Staff", new { id = User.Identity.Name })</li>
                                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="container body-content Site-content">
        @RenderBody()
    </div>

    <footer>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                <p>&copy; @DateTime.Now.Year - Daniel Ferolino</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
